body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8d0d0;
}

h3 {
    color: #333333;
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}